<!DOCTYPE html>
<html>
  <head>
    <title>Macebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <ul>
      <div class="col-lg-6">
        <div class="input-group">
      <input type="text" class="form-control" placeholder="検索">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      </div>
    </div>
      <% if logged_in? %>
        <li><%= link_to "Profile", user_path(current_user.id) %></li>
        <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
      <% else %>


        <li><%= link_to "竹澤美紀", new_session_path %></li>
        <li><a href="#">ホーム</a></li>
        <li><a href="#">友達を検索</a></li>
        <li><%= link_to "作成", new_user_path %></li>
        <li><a href="#"><span class="glyphicon glyphicon-user color-black"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-flash color-black"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-bell color-black"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-triangle-bottom color-black"></span></a></li>
        <% end %>
    </ul>
  </header>
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
